/* for menus */
.ui-menu {
	width: 180px;
	font-size: 63%;
	z-index: 10000;
}
.ui-menu kbd { /* Keyboard shortcuts for ui-contextmenu titles */
	/*font-family: monospace;*/
	float: right;
}

/* custom alignment (set by 'renderColumns'' event) */
td.alignRight {
	text-align: right;
}
td.alignCenter {
	text-align: center;
}
td input[type=input] {
	width: 40px;
}

/*Seems to obey border, but not color or background color*/
/*span*/
/*span.fancytree-node:hover {*/
	/*background: #f2f6f9 !important;*/
	/*background-color: #ffffff !important;*/
	/*background-color: #00ff00 !important;*/
	/*background-color: yellow !important;*/
	/*color: #5b9bd1 !important;*/
	/*color: #ffffff !important;*/
/*	color: #00ff00 !important;
	cursor:pointer;
	border: 0px solid green;
}
*/

/*span.fancytree-node */
	/*background: #f2f6f9 !important;*/
/*	background: #FF0000 !important;
	color: #00ff00 !important;
	cursor:pointer;
	border: 10px solid red;
*/	/*border: none; 3px solid red;*/
	/*border: 3px solid red;*/
/*span.fancytree-active */

span.fancytree-selected span.fancytree-title {
	background: #b0cdfc !important;
	/*border: 1px solid;*/
	border: none;
}

/*span.fancytree-node  */
	/*background: #f2f6f9 !important;*/
/*span.fancytree-active span.fancytree-title {
}
*/
/*span.fancytree-node*/
/*span.fancytree-selected */
/*	background: white !important;
	color: #ff0000 !important;
	cursor:pointer;
*/	/*border: none; 3px solid red;*/
	/*background: #FF0000 !important;*/
	/*color: #00ff00 !important;*/
	/*cursor:pointer;*/

span.fancytree-active span.fancytree-title {
	background: #6ca1f7 !important;
	/*border: 1px solid;*/
	border: none;
}

	/*background: #f2f6f9 !important;*/
	/*background-color: #ffffff !important;*/
	/*background-color: #00ff00 !important;*/
	/*background-color: yellow;*/
	/*color: #5b9bd1 !important;*/
	/*color: #ffffff !important;*/
/*	background: white !important;
	color: #ff0000 !important;
	cursor:pointer;
	border: 1px solid red;*/
	/*background: none !important;*/
	/*opacity: 1 !important;*/

span.fancytree-node:hover span.fancytree-title {
	border: none;
	color: #444444 !important;
}


/*span*/
/*span.fancytree-icon {
  margin-left: 3px;
  background-position: 0px 0px;
}

span.fancytree-icon:hover {
  margin-left: 3px;
  /*background-position: 0px 0px;*/
/*  background-position: -48px 0px;
}
*/
/*.fancytree-ico-cf span.fancytree-icon {
  background-position: 0px -16px;
}

.fancytree-ico-c span.fancytree-icon:hover {
  background-position: -16px 16px;
}
.fancytree-has-children.fancytree-ico-c span.fancytree-icon {
  background-position: -32px 16px;
}
.fancytree-has-children.fancytree-ico-c span.fancytree-icon:hover {
  background-position: -48px 16px;
}
.fancytree-ico-e span.fancytree-icon {
  background-position: -64px 16px;
}
.fancytree-ico-e span.fancytree-icon:hover {
  background-position: -80px 16px;
}
*/
/*#draggableSample, #droppableSample {
	height:100px;
	padding:0.5em;
	width:150px;
	border:1px solid #AAAAAA;
}
#draggableSample {
	background-color: silver;
	color:#222222;
}
#droppableSample {
	background-color: maroon;
	color: white;
}
#droppableSample.drophover {
	border: 1px solid green;
}
